@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p>We created our company to allow everyone to become a movie critic. We made it easy to share your opinions about your favorite/ least favorite movies. 
    Let your voice be heard with Groovy Movie!</p>
